<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="../../style/screen.css" type="text/css"/>
  <link rel="alternate" type="application/atom+xml" title="Atom Feed"
    href="{{feedPath}}"/>
  <meta name="author" content="Klaus Trainer"/>
  <meta name="keywords" content="Klaus Trainer"/>
  <meta name="description" content="Klaus Trainer's blog"/>
  <script type="text/javascript">
  /* <![CDATA[ */
    (function() {
       var s = document.createElement('script')
       var t = document.getElementsByTagName('script')[0]
       s.type = 'text/javascript'
       s.async = true
       s.src = 'https://api.flattr.com/js/0.6/load.js?mode=auto&uid=KlausTrainer&button=compact'
       t.parentNode.insertBefore(s, t)
    })();
  /* ]]> */
  </script>
</head>
