<script src="../../script/json2.js"></script>
<script src="../../script/jquery-1.8.2.min.js"></script>
<script src="../../script/jquery.couch.js"></script>
<script src="../../script/sha1.js"></script>
<script src="../../script/md5.js"></script>
<script src="../../vendor/couchapp/jquery.couch.app.js"></script>
<script src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
<script src="../../vendor/couchapp/jquery.evently.js"></script>
<script src="../../vendor/couchapp/jquery.mustache.js"></script>
<script src="../../script/app.js"></script>
<script src="../../script/archives.js"></script>
