<html>
  {{>head}}
  <body>
    {{>header}}
    <div id="content">
      <div id="container">
        <h3><a href="{{link}}">{{title}}</a></h3>
        <div id="post">
          <div class="storydate">
            posted <span class="date">{{date}}</span> by {{author}}
          </div>
          <div class="story">
            <p>{{{html}}}</p>
          </div>
          <div class="storyfooter">
            <a href="{{link}}">Comments</a> (<span id="{{id}}">0</span>)
            {{#has_tags}}
              <span class="storytags">
                &nbsp;<b>|</b>&nbsp; Tags:
                {{#tags}}
                  <a href="{{link}}">{{tag}}</a>
                {{/tags}}
              </span>
            {{/has_tags}}
          </div>
        </div>
        <div id="tags"></div>
        <div id="comments">
          <ul>
            {{#comments}}
              {{>comment}}
            {{/comments}}
          </ul>
          <div id="profile"></div>
        </div>
      </div>
    </div>
  </body>
  {{>scripts}}
  <script src="../../script/jquery.scrollTo.js"></script>
  <script type="text/javascript" charset="utf-8">
    /* <![CDATA[ */
    $.couch.app(function(app) {
      $("#profile").evently($.extend(true, {}, app.ddoc.vendor.couchapp.evently.profile, app.ddoc.evently.profile), app)
      $.evently.connect($("#account"), $("#profile"), ["loggedIn", "loggedOut"])
    })
    $.get("../../_view/comment-count?group=true", function(data) {
      $.each(JSON.parse(data).rows, function(i, row) {
        $('#' + row.key).html(row.value)
      })
    })
    /* ]]> */
  </script>
</html>
